*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --font-family: "sans-serif";
  --font-weight: bold;
  --list-style-type: none;
  --text-align: center;
  --font-size: 1.2rem;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-family: sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
button {
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/* Navbar */
.first-container {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  gap: 5rem;
  z-index: 1;
  position: relative;
}
.logo-container {
  flex: 1;
}
.logo-container img {
  width: fit-content;
  height: 30px;
}
.navigation-container {
  flex: 2;
}
.navigation-container ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.navigation-container ul li {
  font-weight: bold;
}
.Home-container {
  background-color: #c5dcff;
}
.nav-button {
  display: flex;
  gap: 1.5rem;
  border: none;
  flex: 1;
}

.login-button {
  padding: 10px 20px;
  border-radius: 9px;
  border: solid white 2px;
  background-color: white;
  font-weight: bold;
}

.login-button:hover {
  transform: scale(1.1);
}
.register-button {
  padding: 10px 20px;
  border-radius: 9px;
  border: none;
  background-color: #807593;
  color: white;
  font-weight: bold;
}

.register-button:hover {
  transform: scale(1.1);
}
/* navbar ending*/

/* Header */
.second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  position: relative;
  top: -4rem;
}
.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.head-text h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
}
.paragraph-text p {
  line-height: 1.5rem;
}
.left-container button {
  max-width: fit-content;
  padding: 10px 20px;
  border-radius: 9px;
  border: none;
  background-color: #807593;
  color: white;
  font-weight: bold;
}
.left-container button:hover {
  transform: scale(1.1);
}

.right-container {
  flex: 1;
}
.right-1 {
}
.right-1 img {
  max-width: 100%;
  height: 100%;
}
.right-2 {
  display: flex;
  position: absolute;
  bottom: 10rem;
  right: 2rem;
}
.right-2-img-1 {
  flex: 1;
}
.right-2-img-2 {
  flex: 1;
}
/*header ending*/

/* biography section*/
.third-container {
  display: flex;
  gap: 1rem;
  margin: 0 1rem;
  justify-content: center;
 
}
.third-left {
  flex: 1;
}
.third-left img {
  width: 100%;
  height: 100%;
}
.third-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  gap: 1rem;
}
.right-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right-texts h2 {
  font-size: 2rem;
  font-weight: bold;
}
.third-right button {
  padding: 10px 20px;
  border-radius: 9px;
  border: none;
  background-color: #807593;
  color: white;
  font-weight: bold;
  max-width: fit-content;
}
.third-right button:hover {
  transform: scale(1.1);
}
/*biography ending*/

/*service container*/
.Our-service{
display: flex;
flex-direction: column;

}
.Our-service h1{
font-size: 2rem;
padding-top: 3rem;
padding-left: 30rem;
position: relative;
bottom: -10rem;
}
.Service-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  
}

.Service-left {
  flex: 1;
  position: relative;
}
.Service-left img {
  width: 100%;
  height: 100%;
}

.Service-left-2 {
  flex: 1;
  position: relative;
  right: 19rem;
}

.Service-left-2 div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  background-color: white;
  padding-bottom: 1.5rem;
}
.Service-left-2 div h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 4rem;
}
.Service-left-2 img {
  width: 100%;
  height: 100%;
}

.Service-middle {
  flex: 1;
  margin-left: -19rem;
}
.Service-middle div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  padding-bottom: 1.5rem;
}
.Service-middle div h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 4rem;
}
.Service-middle img {
  width: 100%;
  height: 100%;
}

.Service-right {
  flex: 1;
}
.Service-right div {
  padding-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
}
.Service-right img {
  width: 100%;
  height: 100%;
}
.Service-right div h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 4rem;
}
/*service ending*/

/*doctors section*/
.doctors{
  margin: 2rem;
  padding: 2rem;
}
.doctors h1{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.doctors-profile{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;

}
.doctors-1{
  display: flex;
  gap: 1rem;
}
.doctors-desc{
  padding-top: 1rem;
}
.doctors-desc p{
  color: #00000080;
}
/*doctors ending*/

/* message us container */
.message-container{
border-bottom: 10px solid #00000080;
}
.message{
display: flex;
}
.message-left{
 flex: 3;
padding-left: 10rem;
align-content: center;
 position: relative;
 left: 4rem;
}
.message-left h1{
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.message-left input{
  padding: 15px 7rem;
  margin: 10px 6px;
  border: none;
  border: solid 5px #00000080;
  border-radius: 9px;
}
.message-left input::placeholder{
  
}
.message-input input{
  padding: 25px 20rem;
  margin: 5px;
  border: none;
  border: solid 5px #00000080;
  border-radius: 9px;
}
.message-left button {
  padding: 10px 60px;
  border-radius: 9px;
  border: none;
  background-color: #807593;
  color: white;
  font-weight: bold;
  max-width: fit-content;
margin-left: 20rem;
margin-top: 1rem;

}
.message-left button:hover{
  transform: scale(1.1);
}
.message-right{
  flex: 1;
  
}
.message-right img {
  width: 100%;
  height: 100%;
}


/* footer */
.fourth-container {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.fourth-1 {
  flex: 1;
  display: flex;
}
.fourth-1 img {
  width: fit-content;
  height: 40px;
}
.fourth-2 {
  flex: 1;
}
.fourth-2 h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.fourth-2 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fourth-3 {
  flex: 1;
}
.fourth-3 h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.fourth-3 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fourth-4 {
  flex: 1;
}
.fourth-4 h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.fourth-4 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}